ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

a {
     color: black !important;
     background-color: white !important;
     background-image: none !important;
}
 
a:link {
    font-weight: 400;
    text-decoration: none;
    color: #06c;
}

body{
    background-color: #EAEFF5;
    font-family: 'Open Sans', sans-serif;
}