@import "./variables.module.scss";
ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

a {
     color: black !important;
     background-color: white !important;
     background-image: none !important;
}
 
a:link {
    font-weight: 400;
    text-decoration: none;
    color: #06c;
}

body{
    background-color: #EAEFF5;
    font-family: 'Open Sans', sans-serif;
}

::placeholder {
    color:rgba($color: #fff, $alpha: 0.4)
}

.Container{
    width:620px;
    margin:0 auto;
}

.button__cta{
    position:absolute;
    width:150px;
    height:30px;
    background-color: #000;
    font-size: 16px;
    font-weight: 600;
    color:#fff;
    border:none;
    border-radius: 8px;
    box-shadow: none;
    cursor: pointer;
}

.button__cta--staticCenter{
    position:static !important;
    display:block;
    margin: 0 auto;
}

.button__cta__wrapper--right{
    width:100%;
    display:flex;
    justify-content: flex-end;
}
.button__cta--static{
    position: static !important;
    display: block;
    margin: 0;
    padding: 4px 12px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
    width:auto;
    height: auto;
}

/* Radio-Buttons */
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
    position: relative;
    display:block;
    cursor: pointer;
    margin-left:31px;
    margin-top:5px;
    font-size: 22px;
    font-weight: 700;

}
input[type="radio"] + label:before {
    content:'';
    color: #000;
    display: inline-block;
    position: absolute;
    text-align: left;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: $green-light;
    left: -30px;
    top: 6px;
  

}
input[type="radio"]:checked + label:before {
    content:'';
    background-color: #000;
    width:10px;
    height:10px;
    border:6px solid  $green-light;
}

.select__wrapper{
    position:relative;
    width:100%;
    background: $blue;

}

.select__wrapper::after {
    content: "<";
    font-size: 20px;
    position: absolute;
    font-weight: 700;
    right: 5px;
    bottom:0;
    top:0;
    color:#fff;
    transform: rotate(-90deg);
    pointer-events: none;
   
}
select {
    width:100%;
    appearance: none;
    border: none;
    background: $blue;
    border-radius: 4px;
    height: 35px;
    padding-left: 10px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    outline: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
     cursor: pointer;
}


.logo__circle__wrapper{
    display:flex;
    justify-content: center;
    div{
        color:#fff;
        font-weight:600;
    }
}

.logo__circle{
    width:20px;
    height:20px;
    border-radius: 50%;
    margin-left:5px;
  
}

.logo__circle--red{
    background: $red;
}
.logo__circle--green{
    background: $green;
}

