$green: #3C9C63;
$green-light: #44B873;
$orange-light: #E6AA51;
$blue: #4B74C0;
$blue-light: #5785DA;

$gold: #e4c209;
$gold-light:#F4D111;

$silver:#C9C9C9;
$silver-light:#DFDFDF;

$bronze:#C49043;
$bronze-light:#E6AA51;


:export{
    green: $green;
    green-light: $green-light;
    orange-light: $orange-light;
    gold: $gold;
}